<h1>Upcoming events</h1>

<div>
  <% @events.each do |event| %>
    <div>
      <h3><%= event.name %></h3>
      <p><%= event.description %></p>
      <p>Where: <strong><%= event.location %></strong></p>
      <p>When: <strong><%= event.date %></strong></p>
      <p>Time: <strong><%= event.time %></strong></p>
    </div>
  <% end %>
</div>
