<h1>Event details</h1>

<%= render 'shared/flashes' %>

<div>
  <h2><%= @event.name %></h2>
  <h3>Hosted by: <%= link_to @event.creator.username, user_path(@event.creator_id) %></h3>
  <p>Description: <%= @event.description %></p>
  <p>Location: <%= @event.location %></p>
  <p>When: <strong><%= @event.date %></strong></p>
  <p>Time: <strong><%= @event.time.strftime('%H:%M') %></strong></p>

  <% if current_user == @event.creator %>
    <button>
      <%= link_to 'Delete this event', event_path(@event), data: {
        turbo_method: :delete,
        turbo_confirm: 'Are you sure?'
      }  %>
    </button>
  <% end %>

  <% if current_user == @event.creator %>
    <button>
      <%= link_to 'Update this event', edit_event_path(@event.id) %>
    </button>
  <% end %>

  <% if user_signed_in? %>
    <button>
      <%= link_to 'Attend this event', event_attendances_path(attended_event_id: @event.id), data: { 'turbo-method' => :post }%>
    </button>
  <% end %>



  <%= render 'attendee_list', event: @event %>
</div>